body {
	background: #172530 url(../images/bg.jpg) 0 67px no-repeat;
	background-size: 100%;
}

#galeContentWrapper {
	width: 100%;
	position: relative;
	z-index: 1;

	header {
		overflow: hidden;
		border-bottom: 1px solid #333333;
		padding: 10px;

		img {
			float: left;
			margin-right: 20px
		}

		label {
			display: none;
		}

		form {
			margin-left:  10px;
			
			input[type=search] {
				width: 255px;
				font-size: 20px;
				font-size: 14px;
			}

		}
	} /* end header */

	section {
			display: none;

			ul {
				list-style-type: none;
				margin: 0 15px;
				padding: 0;
				background: #fff;
				opacity: 0.9;
				border-top: 0px;
				border-left: 1px solid #ccc;
				border-right: 1px solid #ccc;
				border-bottom: 1px solid #ccc;

				li {
					list-style-type: none;
					padding: 10px;
					border-top: 1px solid #ccc;

					a {
						display: block;
						font-family: "Facitweb",Calibri,Arial,Sans;
					}

					input[type="radio"] {
						float: left;
						margin-right: 10px;
					}

					span.pubTitle {
						font-style: italic;
						font-size: 95%;
					}

					span.pubYear {
						font-size: 95%;
					}

					span.snippet {
						display: block;
						padding: 5px;
					}

				}

				li:first-child {
					border-top: none;
				}
			}
		input[type="submit"] {
			font-size: 100%;
			background-color: #1A85C2;
			color: white!important;
			width: auto!important;
			text-decoration: none;
			padding: .5em 1em;
			border: 1px solid #58BCEB;
			cursor: pointer;
			margin: 10px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			font-weight: 600;
			-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
			-moz-box-shadow: 2px 2px 4px rgba(0,0,0,.2);
			box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
			background-image: -webkit-gradient(linear,0% 0,0% 100%,from(#13B2F1),to(#1879B1));
			background-image: -moz-linear-gradient(0 100% 90deg,#1879B1,#13B2F1);
		}
	} /* end section */

#documentBody {
	border: 1px solid #CCCCCC;
	margin: 0 15px;
	padding: 10px;
	background: #fff;
	opacity: 0.9;
	border-top: 0px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;

	p {
		margin: 0 0 25px 0;
		line-height: 140%;
	}

	.inline_image {
		float: left;
		margin: 7px;
	}

	h1 {
		font-size: 22px;
		font-family: "Facitweb",Calibri,Arial,Sans;
		background: url('../images/h1_border_bottom.gif') bottom repeat-x;
		margin-bottom: 20px;
	}

	.Other blockquote {display:none;}

	.Sources {
		

	}

	.bold {font-weight: 700;}
	.italics { font-style: italic;}
	.smallLetters {font-size:  75%;}





} /* end documentBody */


	.loader {
		display: none;
		position: absolute;
		top: 100px;
		left: 250px;
	}


} /* end wrapper */


#preview {
	position: absolute;
	width: 800px;
	height: 600px;
	overflow: auto;
	display: none;
	z-index: 1000;
}