body {
  background: #172530 url(../images/bg.jpg) 0 67px no-repeat;
  background-size: 100%;
}
#galeContentWrapper {
  width: 100%;
  position: relative;
  z-index: 1;
  /* end header */

  /* end section */

  /* end documentBody */

}
#galeContentWrapper header {
  overflow: hidden;
  border-bottom: 1px solid #333333;
  padding: 10px;
}
#galeContentWrapper header img {
  float: left;
  margin-right: 20px;
}
#galeContentWrapper header label {
  display: none;
}
#galeContentWrapper header form {
  margin-left: 10px;
}
#galeContentWrapper header form input[type=search] {
  width: 255px;
  font-size: 20px;
  font-size: 14px;
}
#galeContentWrapper section {
  display: none;
}
#galeContentWrapper section ul {
  list-style-type: none;
  margin: 0 15px;
  padding: 0;
  background: #fff;
  opacity: 0.9;
  border-top: 0px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#galeContentWrapper section ul li {
  list-style-type: none;
  padding: 10px;
  border-top: 1px solid #ccc;
}
#galeContentWrapper section ul li a {
  display: block;
  font-family: "Facitweb", Calibri, Arial, Sans;
}
#galeContentWrapper section ul li input[type="radio"] {
  float: left;
  margin-right: 10px;
}
#galeContentWrapper section ul li span.pubTitle {
  font-style: italic;
  font-size: 95%;
}
#galeContentWrapper section ul li span.pubYear {
  font-size: 95%;
}
#galeContentWrapper section ul li span.snippet {
  display: block;
  padding: 5px;
}
#galeContentWrapper section ul li:first-child {
  border-top: none;
}
#galeContentWrapper section input[type="submit"] {
  font-size: 100%;
  background-color: #1A85C2;
  color: white!important;
  width: auto!important;
  text-decoration: none;
  padding: .5em 1em;
  border: 1px solid #58BCEB;
  cursor: pointer;
  margin: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-weight: 600;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#13b2f1), to(#1879b1));
  background-image: -moz-linear-gradient(0 100% 90deg, #1879b1, #13b2f1);
}
#galeContentWrapper #documentBody {
  border: 1px solid #CCCCCC;
  margin: 0 15px;
  padding: 10px;
  background: #fff;
  opacity: 0.9;
  border-top: 0px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#galeContentWrapper #documentBody p {
  margin: 0 0 25px 0;
  line-height: 140%;
}
#galeContentWrapper #documentBody .inline_image {
  float: left;
  margin: 7px;
}
#galeContentWrapper #documentBody h1 {
  font-size: 22px;
  font-family: "Facitweb", Calibri, Arial, Sans;
  background: url('../images/h1_border_bottom.gif') bottom repeat-x;
  margin-bottom: 20px;
}
#galeContentWrapper #documentBody .Other blockquote {
  display: none;
}
#galeContentWrapper #documentBody .bold {
  font-weight: 700;
}
#galeContentWrapper #documentBody .italics {
  font-style: italic;
}
#galeContentWrapper #documentBody .smallLetters {
  font-size: 75%;
}
#galeContentWrapper .loader {
  display: none;
  position: absolute;
  top: 100px;
  left: 250px;
}
/* end wrapper */
#preview {
  position: absolute;
  width: 800px;
  height: 600px;
  overflow: auto;
  display: none;
  z-index: 1000;
}
