#galeContentWrapper {
  width: 100%;
  position: relative;
  z-index: 1;
  /* end header */

  /* end section */

  /* end documentBody */

}
#galeContentWrapper header {
  overflow: hidden;
  border-bottom: 1px solid #333333;
  padding: 10px;
}
#galeContentWrapper header img {
  float: left;
  margin-right: 20px;
}
#galeContentWrapper header label {
  display: none;
}
#galeContentWrapper header form {
  margin-left: 10px;
}
#galeContentWrapper header form input[type=search] {
  width: 255px;
  font-size: 20px;
  font-size: 14px;
}
#galeContentWrapper section {
  display: none;
  border: 1px solid #CCCCCC;
}
#galeContentWrapper section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#galeContentWrapper section ul li {
  list-style-type: none;
  padding: 10px;
  border-top: 1px solid #ccc;
}
#galeContentWrapper section ul li a {
  display: block;
}
#galeContentWrapper section ul li input[type=checkbox] {
  float: left;
  margin-right: 10px;
}
#galeContentWrapper section ul li span.pubTitle {
  font-style: italic;
  font-size: 95%;
}
#galeContentWrapper section ul li span.pubYear {
  font-size: 95%;
}
#galeContentWrapper section ul li span.snippet {
  display: block;
  padding: 5px;
}
#galeContentWrapper section ul li:first-child {
  border-top: none;
}
#galeContentWrapper #documentBody {
  border: 1px solid #CCCCCC;
  padding: 10px;
}
#galeContentWrapper #documentBody p {
  margin: 0 0 25px 0;
  line-height: 140%;
}
#galeContentWrapper #documentBody h1 {
  font-size: 22px;
  background: url('../images/h1_border_bottom.gif') bottom repeat-x;
  margin-bottom: 20px;
}
#galeContentWrapper #documentBody .Other blockquote {
  display: none;
}
#galeContentWrapper #documentBody .bold {
  font-weight: 700;
}
#galeContentWrapper #documentBody .italics {
  font-style: italic;
}
#galeContentWrapper #documentBody .smallLetters {
  font-size: 75%;
}
#galeContentWrapper .loader {
  display: none;
  position: absolute;
  top: 100px;
  left: 250px;
}
/* end wrapper */
#preview {
  position: absolute;
  width: 800px;
  height: 600px;
  overflow: auto;
  display: none;
  z-index: 1000;
}
